body {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 28px;
}

section {
  border: 1px solid black;
  padding: 10px;
  color: gainsboro;
  text-shadow: 1px 1px black;
}

.contact-link {
  color: gainsboro;
  font-weight: bold;
}

.contact-link:visited {
  color: rgb(63, 63, 177);
}

.section1 {
  min-height: 250px;
}

.section2 {
  min-height: 250px;
}

#intro {
  /* background: url(https://images.unsplash.com/photo-1484665739383-a1069a82d4be?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=66ef5f627b4b8d5d19599ac44c2577b4&auto=format&fit=crop&w=500&q=60);
  background-repeat: no-repeat;
  background-size: cover; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: linear-gradient(to bottom right, black, #989898);
}

#intro > p {
  max-width: 600px;
  text-align: center;
}

#contact {
  /* background: url(https://images.unsplash.com/photo-1531901587543-26d76c1e918c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=eabae348f95beb15594bf1285dbeb265&auto=format&fit=crop&w=500&q=60);
  background-repeat: no-repeat;
  background-size: cover; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-image: linear-gradient(to top right, black, #989898);
}

#projects {
  background-image: linear-gradient(to bottom right, black, #989898);
}

#projects > ul {
  list-style-type: none;
}

@media only screen and (min-width: 600px) {
  #projects > ul > li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .project-image {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .project-text {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-image > a {
    height: 75%;
    margin-bottom: 10px;
  }
}

#skills {
  /* background: url(https://images.unsplash.com/photo-1525373698358-041e3a460346?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4051df9e2f82d0f19d2df4eb6dbe7711&auto=format&fit=crop&w=500&q=60);
  background-repeat: no-repeat;
  background-size: cover; */
  background-image: linear-gradient(to top right, black, #989898);
}

#skills > ul {
  list-style-type: none;
}

#about {
  /* background: url(https://images.unsplash.com/photo-1503437313881-503a91226402?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bca2bcbec1d66e31fb38da5681cf83d9&auto=format&fit=crop&w=500&q=60);
  background-repeat: no-repeat;
  background-size: cover; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 25px;
  background-image: linear-gradient(to bottom right, black, #989898);
}

a > img {
  opacity: 1;
}

a > img:hover {
  opacity: 0.5;
}

p > a {
  color: blue;
  text-decoration: none;
}

p > a:hover {
  opacity: 0.7;
}

p > a:visited {
  color: blueviolet;
}
